# Copy file ini menjadi .env dan isi nilainya
# cp .env.example .env

# GPT-4o (endpoint /extract-invoice)
OPENAI_API_KEY=sk-...

# OpenShift OSS LLM (endpoint /extract-invoice_trai)
LLM_API_URL=https://openaigpt-oss-20b-treasury-ai-model.apps.ocpsdc-djpb.kemenkeu.go.id/v1/chat/completions
LLM_API_TOKEN=xxx
LLM_MODEL_NAME=oss-20b
